/* Sidebar.css */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #Ab25be;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    overflow-y: auto;
    color:black;

  }

  .sidebar::-webkit-scrollbar {
    width: 8px; 
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  .sidebar h2 {
    color:white; 
    text-align: center;
    margin-top: 50px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .sidebar li button{
    font-size: 18px; /* Adjusted font size */
    width: 180px; /* Adjusted button width */
    padding: 10px; /* Added padding */
    border: none;
    background-color:  #Ab25be;
    color: #ecf0f1; 
    cursor: pointer;
  } 
  /* .sidebar li button:focus,
  .sidebar li button:hover, */
  .selected-dropdown {
    background-color:rgb(249, 128, 148) !important;
    color: purple;
  }
  
  .sidebar li:hover {
    background-color: #fff0fd; 
  }
  
  .sidebar a {
    text-decoration: none;
    /* color: #ecf0f1;  */
  }
  
  .sidebar a:hover {
    color:grey; 
  }

  
  .dropdown-content {
    background-color: #f3c0f9;
    position: relative;
    top: 100%;
    left: 0;
    width: 200px; /* Adjusted width */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
  }
  
  .sidebar li:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content li {
    padding: 8px;
    color: black; 
    transition: background-color 0.3s;
  }
  
  .dropdown-content li:hover { 
    background-color:#f5c1ff;
 }


